$def with (form)
<script>
function swag(){
document.getElementById("Attack").value = "70";
}
</script>

<form name="main" method="post">
$if not form.valid: <p class="error">check again</p>
$:form.render()
<input type="Button" value="Get Stats" onclick="swag()"/><!-- button that needs to populate the Attack field with data programmatically from CombatLookup.py or newly written .js script. Manual for testing purposes.-->
<input type="submit" value="Calculate" />    </form>